<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'AppCoder/padre.html' %}
    {% load static %}
    {% block contenidoQueCambia %}
    {% if miFormulario.errors %}
    <p style="color:red">Estan mal los datos, revisar</p>
    {% endif %}
    <p>Estamos buscando el : {{ id }}</p>
    {% if profesores %}
          <ul>
            {% for profesor in profesores %}
          <li>{{ profesor.nombre }}</li>
          <li>{{ profesor.apellido }}</li>
          <li>{{ profesor.email }}</li>
          <li>{{ profesor.profesion }}</li>
            {% endfor %}
         </ul>
    {% endif %}
    {% endblock %}
</body>
</html>